@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" type="site.css" href="~/css/site.css" />
</head>

<!-- Home section -->
<section id="home" class="container-fluid">

    <div class="row align-items-center min-vh-100 content">

        <div class="col-md-8 ml-md-5 text-center text-md-left">

            <h2 class="thong">Group 04</h2>
            <h1>FGW Education</h1>
            <h3 style="text-transform: uppercase;">Walk on da street never stuck on da beat (~.~)</h3>

            <iframe width="800" height="500" src="https://www.youtube.com/embed/pLYJNKD7M-Y?autoplay=1&mute=1">
            </iframe>

        </div>

    </div>
</section>